#configure github linguist to correctly classifu project
#add epsilot to detectable languages ?
*.eol linguist-detectable
*.etl linguist-detectable
*.egl linguist-detectable

#exclude generated code
eclipseEditorsWorkspace/** linguist-generated
modelingIDEgenerator/Examples/*/OutModels/* linguist-generated
modelingIDEgenerator/Examples/*/OutModels/*.js -linguist-generated

#exclude external code
modelingIDEgenerator/Examples/*/OutModels/javascript_sccd_runtime/** linguist-vendored
epsilon-1.5.1-kitchensink.jar linguist-vendored
