<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.egl.eclipse.dt.launching.EglLaunchConfigurationDelegate">
<booleanAttribute key="appendToFile" value="false"/>
<listAttribute key="defaultFormatters"/>
<intAttribute key="egxGenerateTo" value="1"/>
<booleanAttribute key="fine_grained_profiling" value="true"/>
<intAttribute key="generateTo" value="2"/>
<listAttribute key="models">
<listEntry value="#Tue May 15 11:01:26 EDT 2018&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=SC&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.example.org/sccd&#13;&#10;modelUri=platform\:/resource/SyntheticTesting/Test%20Synthetic240X/OutModels/Synthetic240X.sccd&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;type=EMF&#13;&#10;modelFile=/SyntheticTesting/Test Synthetic240X/OutModels/Synthetic240X.sccd&#13;&#10;expand=true&#13;&#10;metamodelFile="/>
<listEntry value="#Wed May 23 16:21:02 EDT 2018&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=MAP&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://udem.iro.geodes.ca/mapping&#13;&#10;modelUri=platform\:/resource/SyntheticTesting/Test%20Synthetic240X/InModels/Synthetic240X.mapping&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;type=EMF&#13;&#10;modelFile=/SyntheticTesting/Test Synthetic240X/InModels/Synthetic240X.mapping&#13;&#10;expand=true&#13;&#10;metamodelFile="/>
</listAttribute>
<stringAttribute key="outputDirPath" value=""/>
<stringAttribute key="outputFilePath" value="/SyntheticTesting/Test Synthetic240X/OutModels/Synthetic240X.xml"/>
<listAttribute key="parameters"/>
<booleanAttribute key="produceTrace" value="false"/>
<booleanAttribute key="profile_model_loading" value="true"/>
<booleanAttribute key="profiling_enabled" value="true"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/ca.umontreal.iro.geodes.interaction.transformation2scd/Transformations/generatesccd2javascript.egl"/>
<stringAttribute key="templateFactoryType" value="org.eclipse.epsilon.egl.EglFileGeneratingTemplateFactory"/>
<stringAttribute key="traceDestination" value=""/>
</launchConfiguration>
