<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.udem.ca/iro/geodes/interaction/Interactiontxt"
			class = "ca.udem.iro.geodes.interaction.interactiontxt.InteractiontxtPackage"
			genModel = "model/generated/Interactiontxt.genmodel" />
	</extension>
</plugin>
